@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

:root {
  --background: hsl(223.8136 0.0004% 98.0256%);
  --foreground: hsl(223.8136 0% 3.9388%);
  --card: hsl(223.8136 0.0011% 99.341%);
  --card-foreground: hsl(223.8136 0% 3.9388%);
  --popover: hsl(223.8136 0.0011% 99.341%);
  --popover-foreground: hsl(223.8136 0% 3.9388%);
  --primary: hsl(356.946 95.8988% 57.7229%);
  --primary-foreground: hsl(223.8136 0.0004% 98.0256%);
  --secondary: hsl(223.8136 0.0002% 96.0587%);
  --secondary-foreground: hsl(223.8136 0% 14.9382%);
  --muted: hsl(209.9994 40.5528% 96.0495%);
  --muted-foreground: hsl(215.3832 18.3663% 47.0286%);
  --accent: hsl(356.946 95.8988% 57.7229%);
  --accent-foreground: hsl(223.8136 0.0004% 98.0256%);
  --destructive: hsl(351.7303 123.6748% 40.5257%);
  --destructive-foreground: hsl(0 0% 100%);
  --border: hsl(214.2848 32.975% 91.4235%);
  --input: hsl(214.2848 32.975% 91.4235%);
  --ring: hsl(356.946 95.8988% 57.7229%);
  --chart-1: hsl(356.946 95.8988% 57.7229%);
  --chart-2: hsl(35.4818 167.2958% 35.776%);
  --chart-3: hsl(182.8537 413.8452% 13.4666%);
  --chart-4: hsl(110.1734 181.0914% 20.9203%);
  --chart-5: hsl(238.1712 69.4923% 70.3246%);
  --sidebar: hsl(223.8136 0.0002% 96.0587%);
  --sidebar-foreground: hsl(223.8136 0% 3.9388%);
  --sidebar-primary: hsl(356.946 95.8988% 57.7229%);
  --sidebar-primary-foreground: hsl(223.8136 0.0004% 98.0256%);
  --sidebar-accent: hsl(214.2848 32.975% 91.4235%);
  --sidebar-accent-foreground: hsl(223.8136 0% 3.9388%);
  --sidebar-border: hsl(214.2848 32.975% 91.4235%);
  --sidebar-ring: hsl(356.946 95.8988% 57.7229%);
  --font-sans: Inter, ui-sans-serif, sans-serif, system-ui;
  --font-serif: Noto Serif Georgian, ui-serif, serif;
  --font-mono: JetBrains Mono, ui-monospace, monospace;
  --radius: 0.5rem;
  --shadow-x: 0;
  --shadow-y: 1px;
  --shadow-blur: 4px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.1;
  --shadow-color: oklch(0 0 0);
  --shadow-2xs: 0 1px 4px 0px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0 1px 4px 0px hsl(0 0% 0% / 0.05);
  --shadow-sm:
    0 1px 4px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
  --shadow: 0 1px 4px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
  --shadow-md:
    0 1px 4px 0px hsl(0 0% 0% / 0.1), 0 2px 4px -1px hsl(0 0% 0% / 0.1);
  --shadow-lg:
    0 1px 4px 0px hsl(0 0% 0% / 0.1), 0 4px 6px -1px hsl(0 0% 0% / 0.1);
  --shadow-xl:
    0 1px 4px 0px hsl(0 0% 0% / 0.1), 0 8px 10px -1px hsl(0 0% 0% / 0.1);
  --shadow-2xl: 0 1px 4px 0px hsl(0 0% 0% / 0.25);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
}

.dark {
  --background: hsl(223.8136 0% 3.9388%);
  --foreground: hsl(223.8136 0.0004% 98.0256%);
  --card: hsl(240.0173 6.0307% 9.9812%);
  --card-foreground: hsl(223.8136 0.0004% 98.0256%);
  --popover: hsl(223.8136 0% 14.9382%);
  --popover-foreground: hsl(223.8136 0.0004% 98.0256%);
  --primary: hsl(356.946 95.8988% 57.7229%);
  --primary-foreground: hsl(223.8136 0.0004% 98.0256%);
  --secondary: hsl(223.8136 0% 14.9382%);
  --secondary-foreground: hsl(223.8136 0.0004% 98.0256%);
  --muted: hsl(240.0469 4.043% 15.9329%);
  --muted-foreground: hsl(20.0031 6.8725% 89.9826%);
  --accent: hsl(356.946 95.8988% 57.7229%);
  --accent-foreground: hsl(223.8136 0.0004% 98.0256%);
  --destructive: hsl(358.7594 101.8439% 69.8357%);
  --destructive-foreground: hsl(223.8136 0.0004% 98.0256%);
  --border: hsl(223.8136 0% 25.0471%);
  --input: hsl(223.8136 0% 25.0471%);
  --ring: hsl(356.946 95.8988% 57.7229%);
  --chart-1: hsl(1.0124 149.2008% 75.3539%);
  --chart-2: hsl(32.4955 108.137% 55.0038%);
  --chart-3: hsl(182.4224 308.6009% 19.1681%);
  --chart-4: hsl(107.7899 56.1603% 44.9037%);
  --chart-5: hsl(237.0352 91.2598% 78.0885%);
  --sidebar: hsl(223.8136 0% 9.0527%);
  --sidebar-foreground: hsl(223.8136 0.0004% 98.0256%);
  --sidebar-primary: hsl(358.7594 101.8439% 69.8357%);
  --sidebar-primary-foreground: hsl(223.8136 0.0004% 98.0256%);
  --sidebar-accent: hsl(223.8136 0% 14.9382%);
  --sidebar-accent-foreground: hsl(223.8136 0.0001% 89.8161%);
  --sidebar-border: hsl(223.8136 0% 25.0471%);
  --sidebar-ring: hsl(358.7594 101.8439% 69.8357%);
  --font-sans: Inter, ui-sans-serif, sans-serif, system-ui;
  --font-serif: Noto Serif Georgian, ui-serif, serif;
  --font-mono: JetBrains Mono, ui-monospace, monospace;
  --radius: 0.5rem;
  --shadow-x: 0;
  --shadow-y: 1px;
  --shadow-blur: 4px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.1;
  --shadow-color: oklch(0 0 0);
  --shadow-2xs: 0 1px 4px 0px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0 1px 4px 0px hsl(0 0% 0% / 0.05);
  --shadow-sm:
    0 1px 4px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
  --shadow: 0 1px 4px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
  --shadow-md:
    0 1px 4px 0px hsl(0 0% 0% / 0.1), 0 2px 4px -1px hsl(0 0% 0% / 0.1);
  --shadow-lg:
    0 1px 4px 0px hsl(0 0% 0% / 0.1), 0 4px 6px -1px hsl(0 0% 0% / 0.1);
  --shadow-xl:
    0 1px 4px 0px hsl(0 0% 0% / 0.1), 0 8px 10px -1px hsl(0 0% 0% / 0.1);
  --shadow-2xl: 0 1px 4px 0px hsl(0 0% 0% / 0.25);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
